# PlatformIO
.pio
.pioenvs
.piolibdeps

# VSCode
.vscode
.idea

# Compiled binaries & logs
*.bin
*.elf
*.o
*.a

# Allow webflasher release binaries for GitHub Pages
!webflasher/firmware/*.bin

.temp
scratch/
dist/
software/dist/